@using OnlineLibrary.Core.Domain.Entities
@model Book

@{
    ViewData["Title"] = "Delete Book | OL";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<br><br>

<div style="width: 300px" class="m-auto card">
    <p class="text-center card-text fw-bold">Are you sure to delete this book?</p>
    <p class="text-center card-text">ID: @Model.Id</p>
    <p class="text-center card-text">Title: @Model.Title</p>
    <p class="text-center card-text">Author: @Model.Author.FullName</p>
    <p class="text-center card-text">Publisher: @Model.Publisher.Name</p>

    <form asp-controller="Book" asp-action="Delete" method="post">
        <p class="text-center">
            <button class="btn btn-primary">Delete</button>
            <a asp-controller="Book" asp-action="Index" class="btn btn-secondary">Go back</a>
        </p>
        <input type="hidden" asp-for="Id" value="@Model.Id">
    </form>
</div>